.partymode--container {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;

    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.partymode--flake {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: partymode--flake1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes partymode--flake1 {
    from {
        transform: translate(-10vw, -20vh);
    }
    to {
        transform: translate(10vw, 120vh);
    }
}

/* ~ugh~ */
.partymode--flake {
    -webkit-animation-name: partymode--flake1;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes partymode--flake1 {
    from {
        -webkit-transform: translate(-10vw, -20vh);
    }
    to {
        -webkit-transform: translate(10vw, 120vh);
    }
}
