{% extends 'base.html' %}
{% import '_lib.html' as lib with context %}

{% block content %}
    {% for article in articles_page.object_list %}
    <article>
        <header>
            <p class="meta">
                {{ lib.article_time(article) }}
            </p>
            <h1>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ lib.category_glyph(article.category) }}
                    {{ article.title | striptags }}
                </a>
            </h1>
        </header>

        <div class="entry-content">
            {{ lib.article_illustration(article) }}
            {{ article.summary }}
        </div>

        {% if article.content == article.summary %}
        {# only inline the gallery if the article isn't truncated #}
        {{ lib.article_gallery(article) }}
        {% else %}
        <footer>
            <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}">
                Keep reading
                {% if article.readtime %}
                (about {{ article.readtime.minutes }} min.)
                {% endif %}
            </a>
        </footer>
        {% endif %}
    </article>
    {% endfor %}

    {# pagination #}
    <footer class="pagination">
        {% if articles_page.has_previous() %}
            <a class="-prev" href="{{ SITEURL }}/{{ articles_previous_page.url }}">❮ Newer</a>
        {% else %}
            <span class="-prev"></span>
        {% endif %}

        <div class="-page">Page {{ articles_page.number }}</div>
        <div class="-links">
            <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archive</a>
            / <a href="{{ SITEURL }}/site-index/">Index</a>
            {% if articles_page.number > 1 %}
                / <a href="{{ SITEURL }}/{{ articles_paginator.page(1).url }}">Newest</a>
            {% endif %}
        </div>

        {% if articles_page.has_next() %}
            <a class="-next" href="{{ SITEURL }}/{{ articles_next_page.url }}">Older ❯</a>
        {% else %}
            <span class="-next"></span>
        {% endif %}
    </footer>
{% endblock %}
