{% import '_lib.html' as lib with context %}

<aside id="sidebar">
    {% macro _render_link(title, url, color, image, desc) %}
        <li style="background-color: {{ color }};">
            <a href="{{ url }}">
                <div class="-glyph">
                    <img src="{{ SITEURL }}/theme/images/{{ image }}" alt="{{ title }}">
                </div>
                <div class="-label">
                    <h2>{{ title }}</h2>
                    <p class="-details">{{ desc }}</p>
                </div>
            </a>
        </li>
    {% endmacro %}

    <ul class="eevee-navigation">
        {% for linkdef in LINKS_EX %}
            {{ _render_link(*linkdef) }}
        {% endfor %}
        {% if pages %}
        <li class="-empty"></li>
        {% endif %}
        {% for page in pages %}
            {{ _render_link(
                title=page.metadata.get('home-title', page.title),
                url=SITEURL + "/" + page.url,
                color=page.metadata.get('home-color'),
                image=page.metadata.get('home-image'),
                desc=page.metadata.get('home-desc', ''),
            ) }}
        {% endfor %}
        <li class="-empty"></li>
        {% for linkdef in SOCIAL_EX %}
            {{ _render_link(*linkdef) }}
        {% endfor %}
    </ul>

    <section>
        <h1><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Recent stuff</a></h1>
        <ul id="recent_posts">
        {% for article in (all_articles or articles)[:8] %}
        <li class="post">
            <a href="{{ SITEURL }}/{{ article.url }}">
                {{ lib.category_glyph(article.category) }}
                {{ article.title|striptags }}
            </a>
        </li>
        {% endfor %}
        </ul>
    </section>

    <section>
        <h1><a href="{{ SITEURL }}/{{ TAGS_URL }}">Tags</a></h1>
        <div class="sidebar-tags">
        {% for tag, articles in tags | sort %}
        {% if articles | length > 1 %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endif %}
        {% endfor %}
        </div>
    </section>

    {#
    {% include '_includes/github.html' %}
    {% include '_includes/social.html' %}
    {% include '_includes/links.html' %}
    {% include '_includes/twitter_sidebar.html' %}
    {% include '_includes/gplus_sidebar.html' %}
    #}
</aside>
