{% extends 'base.html' %}
{% import '_lib.html' as lib %}

{% block title %}Archive / {{ SITENAME }}{% endblock %}

{% block content %}
<section class="archives">
    <h1>Archive</h1>

    {% for article in articles %}
        {% if loop.index0 == 0 or articles[loop.index0 - 1].date.year != article.date.year %}
        {% if loop.index0 > 0 %}
        <hr>
        {% endif %}
        <h2>{{ article.date.year }}</h2>
        {% endif %}

    <article>
        <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.date | strftime("%b %d") }}</time>
        <h1{% if article.category %} class="category-{{ article.category.slug }}"{% endif %}>
            <a href="{{ SITEURL }}/{{ article.url }}">
                {{ lib.category_glyph(article.category) }}
                {{ article.title | striptags }}
            </a>
        </h1>

        <footer>
            <ul class="meta">
                {% if article.tags %}
                <li class="tags">
                    {% for tag in article.tags %}
                    <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
                    {% endfor %}
                </li>
                {% endif %}
            </ul>
        </footer>
    </article>
    {% endfor %}
</section>
{% endblock %}
