{% extends 'base.html' %}
{% import '_lib.html' as lib %}

{% block title %}📅 Blog archive / {{ SITENAME }}{% endblock %}

{% block content %}
<section class="archives">
    <h1>Blog archive</h1>

    {% set last_year = None %}
    {% for article in articles %}
        {% if last_year != article.date.year %}
        <h2>{{ article.date.year }}</h2>
        {% endif %}
        {% set last_year = article.date.year %}

    <article>
        <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.date | strftime("%b %d") }}</time>
        <h1>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title | striptags }}</a>
        </h1>

        <footer>
            <ul class="meta">
                {% if article.category %}
                <li class="byline author vcard">
                    Posted in <a class="category" href="{{ SITEURL }}/{{ article.category.url }}">
                        {{ article.category }}</a>
                </li>
                {% endif %}
                {% if article.tags %}
                <li class="tags">
                    {% for tag in article.tags %}
                    <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
                    {% endfor %}
                </li>
                {% endif %}
            </ul>
        </footer>
    </article>
    {% endfor %}
</section>
{% endblock %}
