{% extends 'base.html' %}

{% block title %}{{ article.title|striptags }} {{ TITLE_DELIMITER }} {{ SITENAME }}{% endblock %}

{% block pagetitle %}
    <h1>
        <a href="{{ SITEURL }}/{{ article.url }}">
            {{ article.title | striptags }}
        </a>
    </h1>
    <ol class="-breadcrumbs">
        <li><a href="{{ SITEURL }}/{{ INDEX_URL }}">Blog</a></li>
        <li>
            {{ lib.category_glyph(article.category) }}
            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ CATEGORY_NAMES[article.category.slug] }}</a>
        </li>
    </ol>
    {{ lib.article_time(article) }}
    {{ lib.article_series_nav(article) }}
{% endblock %}

{% block content %}
    <article class="single" role="article">
        <div class="entry-content">
            {{ lib.article_illustration(article) }}
            {{ article.content }}
        </div>

        {{ lib.article_gallery(article) }}
        {#
        <footer>
            {{ lib.article_footer(article) }}
            {{ lib.article_social_cruft(article) }}
        </footer>
        #}
    </article>

    {{ lib.patreon_plea() }}

    {{ lib.article_disqus_comments(article) }}
{% endblock %}
