{% extends 'base.html' %}
{% import '_lib.html' as lib with context %}

{% block title %}{{ article.title|striptags }} / {{ SITENAME }}{% endblock %}

{% block content %}
    <article class="single" role="article">
        <header>
            <p class="meta">{{ lib.article_time(article) }}</p>
            <h1>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ lib.category_glyph(article.category) }}
                    {{ article.title | striptags }}
                </a>
            </h1>
        </header>

        <div class="entry-content">
            {{ lib.article_illustration(article) }}
            {{ article.content }}
        </div>

        {{ lib.article_gallery(article) }}

        <footer>
            {{ lib.article_footer(article) }}
            {{ lib.article_social_cruft(article) }}
        </footer>
    </article>

    <section class="oh-wow-patreon">
        <figure>
            <a href="https://www.patreon.com/eevee"><img src="{{ SITEURL }}/theme/images/eevee-patreon.png" alt=""></a>
        </figure>
        <p>If you like when I write words, you can fund future wordsmithing (and other endeavors) by throwing a couple bucks at my <a href="https://www.patreon.com/eevee">Patreon</a>!</p>
        <p>(<a href="http://rumwik.tumblr.com/post/109428225065/eevee-learned-pay-day">illus. by Rumwik</a>)</p>
    </section>

    {{ lib.article_disqus_comments(article) }}
{% endblock %}
