{% extends '_article_list.html' %}

{% block title %}{{ CATEGORY_GLYPHS.get(category, '') }} {{ category.name }} / {{ SITENAME }}{% endblock %}

{% block content %}
    <h1>
        {% if CATEGORY_FEED_ATOM %}
        <a href="{{ SITEURL }}/{{ CATEGORY_FEED_ATOM % category.slug }}" class="category-atom">
            <img src="/theme/images/feed-icon-28x28.png" alt=""></a>
        {% endif %}
        {{ CATEGORY_GLYPHS.get(category, '') }} {{ category.name }}
    </h1>

    {{ super() }}
{% endblock %}
