{% extends '_article_list.html' %}
{% import '_lib.html' as lib with context %}

{% block title %}{{ category.name }} / {{ SITENAME }}{% endblock %}

{% block content %}
    <h1>
        {% if CATEGORY_FEED_ATOM %}
        <a href="{{ SITEURL }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" class="category-atom">
            <img src="/theme/images/feed-icon-28x28.png" alt="Atom feed" title="Atom feed"></a>
        {% endif %}
        {{ lib.category_glyph(category) }} {{ category.name }}
    </h1>

    {{ super() }}
{% endblock %}
