{% extends '_base.html' %}
{% import '_lib.html' as lib with context %}

{% block entirebody %}
<img src="{{ SITEURL }}/theme/images/home-eevee.png" alt="drawing of an eevee" class="home-eevee">

    <section class="home-words">
        <p>I'm Eevee, an 11× programmer and world-renowned Pokémon, and this is my amazing personal website.</p>
        <p>I like making things other people can enjoy: programs, games, comics, writing, etc.  Maybe you will enjoy some of them too!</p>
    </section>

    {% macro _render_link(title, url, color, image, desc) %}
        <a href="{{ url }}" style="background-color: {{ color }}; background-image: url({{ SITEURL }}/theme/images/{{ image }});">
            <h1>{{ title }}</h1>
            <p>{{ desc }}</p>
        </a>
    {% endmacro %}

    <section class="home-links">
        <a href="{{ SITEURL }}/{{ INDEX_URL }}" style="background-color: #f6b441; background-image: url({{ SITEURL }}/theme/images/logo-blog.png);">
            <h1>blog</h1>
            <p>detailed, thoughtful prose about why computers are the worst</p>
        </a>
        {% for page in PAGES %}
        <a href="{{ SITEURL }}/{{ page.url }}" style="background-color: {{ page.metadata.get('home-color') }}; background-image: url({{ SITEURL }}/theme/images/{{ page.metadata.get('home-image') }});">
            <h1>{{ page.metadata.get('home-title', page.title) }}</h1>
            <p>{{ page.metadata.get('home-desc', '') }}</p>
        </a>
        {% endfor %}
        {% for linkdef in LINKS_EX %}
            {{ _render_link(*linkdef) }}
        {% endfor %}

        <hr>

        {% for linkdef in SOCIAL_EX %}
            {{ _render_link(*linkdef) }}
        {% endfor %}
    </section>

{% endblock %}
