{% extends '_base.html' %}
{% import '_lib.html' as lib with context %}

{% block entirebody %}
<img src="{{ SITEURL }}/theme/images/home-eevee.png" alt="drawing of an eevee" class="home-eevee">

    <section class="home-words">
        <p>I'm Eevee, an 11× programmer and <a href="http://www.theverge.com/2016/2/27/11116786/best-pokemon-20th-anniversary-eevee-squirtle-gyarados-nintendo-day">best Pokémon of all time</a>, and this is my amazing personal website.</p>
        <p>I like to make things: code, words, art, games.  I hope you'll enjoy some of them!</p>
    </section>

    {% macro _render_link(title, url, color, image, desc) %}
        <a href="{{ url }}" style="background-color: {{ color }}; background-image: url({{ SITEURL }}/theme/images/{{ image }});">
            <h1>{{ title }}</h1>
            <p>{{ desc }}</p>
        </a>
    {% endmacro %}

    <section class="home-links">
        {% for linkdef in LINKS_EX %}
            {{ _render_link(*linkdef) }}
        {% endfor %}

        <hr>

        {% for page in pages %}
        <a href="{{ SITEURL }}/{{ page.url }}" style="background-color: {{ page.metadata.get('home-color') }}; background-image: url({{ SITEURL }}/theme/images/{{ page.metadata.get('home-image') }});">
            <h1>{{ page.metadata.get('home-title', page.title) }}</h1>
            <p>{{ page.metadata.get('home-desc', '') }}</p>
        </a>
        {% endfor %}

        <hr>

        {% for linkdef in SOCIAL_EX %}
            {{ _render_link(*linkdef) }}
        {% endfor %}
    </section>

{% endblock %}
