{% extends 'base.html' %}

{% block title %}Tags and series {{ TITLE_DELIMITER }} {{ SITENAME }}{% endblock %}

{% block pagetitle %}
    <h1>Tags and series</h1>
    <ol class="-breadcrumbs">
        <li><a href="{{ SITEURL }}/{{ INDEX_URL }}">Blog</a></li>
    </ol>
{% endblock %}

{% block content %}
<section>
    <h2>Tag cloud</h2>
    <ul class="tag-cloud" style="--total: {{ articles | length }};">
        {% for tag, articles in tags | sort %}
        <li title="{{ articles | length }}" style="--count: {{ articles | length }};">
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>
        </li>
        {% endfor %}
    </ul>
    </section>

    <section>
    <h2>Series</h2>

    {% for name, articles in article_series.items() %}
    <h3 name="{{ name.replace(' ', '-') }}">{{ SERIES_NAMES[name] }}</h3>
    <ol class="series">
        {% for article in articles %}
        <li>
            <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.date | strftime("%Y-%m-%d") }}</time>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </li>
        {% endfor %}
    </ol>
    {% endfor %}
</section>
{% endblock %}
