// fonts
$font-header: Lusitana, serif;
$font-prose: Merriweather, serif;
$font-sans: 'Source Sans Pro', Ubuntu, sans-serif;
$font-mono: 'Source Code Pro', 'Inconsolata', 'DejaVu Sans Mono', monospace;

// colors, plucked from the header image
$eevee-blue: #4078CF;
$eevee-brown: #F2D07F;
$eevee-beige: #FAEF98;
$eevee-socks: #DAAA6C;
$eevee-border: #6B5337;
$body-bg: scale-color($eevee-blue, $saturation: -25%, $lightness: -83%);
// used for text directly on the background
$offwhite: scale-color($eevee-blue, $lightness: +75%);
$main-bg: scale-color($eevee-beige, $saturation: -50%, $lightness: +90%);
$sidebar-bg: scale-color($eevee-brown, $saturation: -20%, $lightness: +70%);
$main-accent: scale-color($eevee-border, $lightness: +30%);

$link-normal: $eevee-blue;
$link-visited: adjust-hue($eevee-blue, 60);
$link-hover: adjust-hue($eevee-blue, -240);

$block-bg: scale-color($eevee-brown, $saturation: -50%, $lightness: +70%);
$block-fg: scale-color($eevee-socks, $saturation: -40%, $lightness: -40%);
$block-border: scale-color($eevee-socks, $saturation: -40%, $lightness: +10%);

@mixin block-link() {
    padding: 0.5em 0.75em;
    line-height: 1;
    border: 1px solid transparent;

    text-decoration: none;
    background: $block-bg;
    color: $block-fg;

    &:hover {
        border-color: $block-border;
    }
}

@mixin tablet-size {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin phone-size {
    @media (max-width: 400px) {
        @content;
    }
}

////////////////////////////////////////////////////////////////////////////////
// GENERAL

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em;

    font-family: $font-header;
    text-align: left;  // override the justify that comes later

    a {
        text-decoration: none;
        &, &:visited {
            color: inherit;
        }
        &:hover {
            text-decoration: underline;
            color: $link-hover;
        }
    }
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}

p, li {
    margin-bottom: 1em;
    line-height: 1.5;
}

a {
    transition: color 0.1s linear;

    color: $link-normal;

    &:visited {
        color: $link-visited;
    }
    &:hover {
        color: $link-hover;
    }
}


////////////////////////////////////////////////////////////////////////////////
// LAYOUT

html {
    // This has to be on the root element for rem to work
    font-size: 16px;

    background: url(/theme/images/concrete_seamless.png) $body-bg;
}
body {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    font-family: $font-sans;
    color: #202020;
}

body > header {
    position: relative;
    margin: 1em 0 0;
    min-height: 128px;  // background height
    background: url(/theme/images/home-eevee2.png) no-repeat left bottom / 96px;
    /* lol css */
    image-rendering: -moz-crisp-edges;  /* fx */
    image-rendering: pixelated;  /* chrome, and the thing i actually mean */
    -ms-interpolation-mode: nearest-neighbor; /* ie */

    @include phone-size {
        margin-top: 1em;
        min-height: auto;
        background: none;
    }

    // main site title
    h1 {
        position: absolute;
        font-size: 4em;
        margin: 0 2rem;
        bottom: 0;
        right: 0;
        padding: 0;
        font-family: 'Love Ya Like A Sister', cursive;
        font-weight: normal;  // bold doesn't work well with that font
        color: $offwhite;

        > a {
            &, &:visited, &:hover, &:active {
                color: inherit;
                text-decoration: none;
            }
        }

        @include phone-size {
            // compensate for lack of huge background
            position: static;
            margin: 0.25em;
            font-size: 2em;
            padding: 1rem;
        }
    }

    nav {
        position: absolute;
        right: 1em;
        bottom: 0;
        padding: 0;
        text-align: right;

        .site-search {
            order: 2;
        }
        .subscription {
            order: 3;
        }

        form {
            margin: 0.5em 0;
        }
        ul, ol {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        li {
            display: inline-block;
            margin: 0;
        }

        a {
            &, &:visited, &:hover {
                color: $offwhite;
            }
            &:hover {
                background: hsl(215, 30%, 25%);
            }
        }

        img, input {
            vertical-align: middle;
        }
    }
}

body > #main {
    display: flex;
    border: 1px solid $eevee-border;

    #content {
        flex: 1;
        // The default is 'auto', which for a flexbox makes it expand to its
        // contents' intrinsic width, i.e. a very long word somewhere will make
        // the entire page expand.  This overrides that and allows overflow
        // mechanisms on children to work
        min-width: 0;
        background: url(/theme/images/textured_paper.png) $main-bg;
    }
    #sidebar {
        width: 20em;
        background: url(/theme/images/textured_paper.png) $sidebar-bg;
    }

    @include tablet-size {
        flex-direction: column;

        #sidebar {
            width: auto;
        }
    }
}

body > footer {
    margin: 0.5em 0 4em;
    color: $offwhite;
    text-transform: lowercase;

    display: flex;
    justify-content: space-between;

    @include tablet-size {
        // no flexbox; just stack em
        display: block;
    }

    p {
        margin: 0;
    }
    a {
        color: scale-color($link-normal, $lightness: 30%);

        &:visited {
            color: scale-color($link-visited, $lightness: 30%);
        }
        &:hover {
            color: scale-color($link-hover, $lightness: 30%);
        }
    }
    img {
        vertical-align: middle;
    }
}

#content,
#content > section {
    > h1 {
        font-size: 2.5rem;
        border-bottom: 1px solid $main-accent;
    }
}
#content > h1 {
    // Same padding as articles and sections, but without the excess bottom
    // padding.  Using margin so the border doesn't run all the way across.
    margin: 2.5rem 2.5rem 0;

    .category-atom {
        display: block;
        float: right;
    }

    @include tablet-size {
        margin: 2rem 2rem 0;
    }
    @include phone-size {
        margin: 1rem 1rem 0;
    }
}

#content > footer {
    // Used for e.g. pagination on the front page
    // Use margin instead of padding so the border DOESN'T span the container
    margin: 2em 4em 4em;
    padding-top: 2em;
    border-top: 1px dotted $main-accent;

    &.pagination {
        display: flex;

        > a,
        > span {
            display: block;
            flex: 1;

            text-align: center;
            &.next {
                text-align: right;
            }
            &.prev {
                text-align: left;
            }
        }
    }

    @include phone-size {
        margin: 1em;
        padding-top: 1em;
    }
}

.oh-wow-patreon {
    overflow: hidden;  // float containment
    font-style: italic;

    figure {
        float: left;
        margin: 0;
        margin-right: 1em;

        img {
            height: (186px / 2);
        }
    }
    figcaption {
        font-size: 0.83em;
    }
}


////////////////////////////////////////////////////////////////////////////////
// SIDEBAR

#sidebar {
    $sidebar-border: mix($main-accent, $sidebar-bg);
    font-size: 0.9rem;
    font-family: $font-sans;
    border-left: 1px solid $sidebar-border;

    header > a {
        font-size: 2em;
        display: block;
        float: right;

        @include block-link;

        padding: 0.25em;
    }

    section {
        margin: 1.5em;
    }
    h1 {
        font-size: 1.5em;
    }
    h1, a {
        text-shadow: 1px 1px 0 $main-bg;
    }

    ul, ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li {
        margin-bottom: 0.67em;
    }
    a {
        text-decoration: none;
    }

    .eevee-navigation {
        $size: 1.5rem;
        $padding: 0.25rem;
        $total-size: $size + $padding * 2;

        position: relative;
        margin: 1em 0;

        > li.-empty {
            margin-top: 1em;
            padding-top: 1em;
            border-top: 1px dotted $sidebar-border;
        }
        > li {
            margin: 0 0 -1px;
            vertical-align: bottom;

            // I can't believe this works, but it's the only way to hide the
            // inline background-color
            &:not(:hover) {
                background-color: transparent !important;
            }

            > a {
                display: flex;
                align-items: center;

                padding: $padding 1.5em;
                border: 1px solid transparent;

                .-glyph {
                    flex: 0 0 $size;
                    margin-right: 0.5em;

                    > img {
                        display: block;
                        max-height: $size;
                        max-width: $size;
                        margin: 0 auto;
                        opacity: 0.9;
                        filter: grayscale(100%) contrast(60%) brightness(1.25);
                        -webkit-filter: grayscale(100%) contrast(60%) brightness(1.25);
                    }
                }

                .-label {
                    h2 {
                        font-size: 1.2em;
                        font-weight: normal;
                        font-family: $font-sans;
                    }
                    p {
                        font-size: 0.9em;
                        color: #808080;
                    }
                    h2, p {
                        margin: 0;
                        line-height: 1.1;
                    }
                    .-details {
                        display: none;
                    }
                }
            }

            &:hover > a {
                background-image: linear-gradient(to bottom, rgba(white, 0.7), rgba(white, 0.6));
                border-top-color: rgba(black, 0.1);
                border-bottom-color: rgba(black, 0.15);
                z-index: 2;

                .-glyph img {
                    filter: none;
                    -webkit-filter: none;
                }
                .-label h2 {
                    color: #202020;
                }
                .-label p {
                    color: #404040;
                }
            }
        }
    }

    #recent_posts {
        $glyph-width: 2.5em;
        li {
            margin-left: $glyph-width;
        }
        .category-glyph {
            clear: left;
            float: left;
            margin-top: 2px;
            margin-left: -$glyph-width;
        }
    }


    .sidebar-tags {
        line-height: 1.5;

        a {
            padding-right: 0.33em;
            white-space: nowrap;
        }
    }
}


////////////////////////////////////////////////////////////////////////////////
// ARTICLES

article, #content section {
    // not a fan of padding usually, but i need it here to make the border-top
    // span the entire width
    padding: 2.5em 3em;
    font-family: $font-prose;

    @include tablet-size {
        padding: 2em;
    }
    @include phone-size {
        padding: 1em;
    }
}

article {
    text-align: justify;

    // TODO front page only...?
    & + article {
        border-top: 1px dotted $main-accent;
    }
    > header {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;

        .meta {
            flex: 1 1 auto;
            margin: 0;
            text-align: right;
            color: $main-accent;
        }
        h1 {
            flex: 1 1 auto;
        }
    }

    > footer {
        margin-top: 2em;
        font-family: $font-sans;

        ul.meta {
            margin: 0;
            padding: 0;

            li {
                display: inline;
            }
            li::before {
                content: ' • ';
                margin: 0 0.33em;
            }
            li:first-child::before {
                content: none;
                margin: 0;
            }
        }

        a[rel="full-article"] {
            @include block-link;
        }
    }
}

%fancy-image {
    max-width: 100%;
    box-shadow: 0 1px 2px 1px unquote("#0009");
    outline: 1px solid unquote("#0009");
    transition: box-shadow linear 0.1s;

    a:hover & {
        box-shadow: 0 1px 2px 1px unquote("#000c");
    }
}

.entry-content {
    h2 {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px dotted $main-accent;
    }

    ul {
        margin: 1em 0;
        margin-left: 2em;
        padding-left: 0;
        list-style-type: none;

        > li::before {
            content: '▸';
            display: block;
            float: left;
            margin-left: -1em;
        }
    }

    // TODO seriously need a "plain" image style for the emoji post oops
    img, object {
        @extend %fancy-image;
    }

    blockquote {
        margin: 1em 0;
        // 1.17em on the left makes 1.5em total on the left; 1px top/bottom
        // just stops the paragraphs' margins from collapsing
        padding: 1px 1em 1px 1.17em;
        border-left: 0.33em solid $block-border;
        background: $block-bg;
    }

    hr {
        border: none;

        &::after {
            content: '✩\a0\a0\a0\a0✩\a0\a0\a0\a0✩';
            display: block;
            text-align: center;
            font-size: 1.2em;
            margin: 1em 0;
        }
    }

    kbd {
        font-size: 0.83em;
        padding: 0 0.25em;
        border-radius: 0.33em;
        border: 1px solid $block-border;
        border-width: 1px 2px;
        box-shadow: 0 2px $block-border;
        background: $block-bg;
    }
    kbd + kbd {
        margin-left: 0.25em;
    }

    // Asides, styled like in my book with room for an icon on the left
    aside {
        margin: 1em 0;
        padding: 1em;
        background: var(unquote(--bg-color));
        border-left: 0.25em solid var(unquote(--fg-color));

        --quip: "Note";
        --fg-color: #d0d0d0;
        --bg-color: unquote("#d0d0d020");
        --image: url(/theme/images/asides/note.png);
    }
    aside p:last-child {
        margin-bottom: 0;
    }
    aside::before {
        // I can't believe I get away with this, but a flexbox allows me to
        // align the image AND have it peek out below the border a bit
        content: var(unquote(--image)) var(unquote(--quip));

        font-size: 1.2em;
        display: flex;
        gap: 0.33rem;
        align-items: center;

        height: 1.25em;
        margin-bottom: 0.5em;
        border-bottom: 1px solid var(unquote(--fg-color));
        color: var(unquote(--fg-color));
    }
    aside.aside--well-actually {
        --quip: "Well, actually,";
        --fg-color: #d77bba;
        --bg-color: unquote("#d77bba20");
        --image: url(/theme/images/asides/well-actually.png);
    }
    aside.aside--note-from-future {
        --quip: "Note from the future";
        --fg-color: #5b6ee1;
        --bg-color: unquote("#5b6ee120");
        --image: url(/theme/images/asides/note-from-the-future.png);
    }
    aside.aside--computers-are-bad {
        --quip: "Computers are bad";
        --fg-color: #ac3232;
        --bg-color: unquote("#ac323220");
        --image: url(/theme/images/asides/computers-are-bad.png);
    }
    aside.aside--fascinating-tangent {
        --quip: "Fascinating tangent";
        --fg-color: #3f3f74;
        --bg-color: unquote("#3f3f7420");
        --image: url(/theme/images/asides/fascinating-tangent.png);
    }
    aside.aside--matter-of-taste {
        --quip: "A matter of taste";
        --fg-color: #76428a;
        --bg-color: unquote("#76428a20");
        --image: url(/theme/images/asides/matter-of-taste.png);
    }
    aside.aside--look-out {
        --quip: "Look out!";
        --fg-color: #df7126;
        --bg-color: unquote("#df712620");
        --image: url(/theme/images/asides/look-out.png);
    }
    aside.aside--tricky-tradeoff {
        --quip: "Tricky tradeoff";
        --fg-color: #45283c;
        --bg-color: unquote("#45283c20");
        --image: url(/theme/images/asides/tricky-tradeoff.png);
    }
    aside.aside--deceptively-difficult {
        --quip: "Deceptively difficult";
        --fg-color: #4b692f;
        --bg-color: unquote("#4b692f20");
        --image: url(/theme/images/asides/deceptively-difficult.png);
    }
}

// Remove descendant space from an image link
// TODO this feels hacky, unsure if it covers all cases like prose-illus
a.photo {
    line-height: 1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;

    margin: 1em 0;
    padding: 0.5em 0;
    border: 1px dotted $main-accent;
    border-width: 1px 0;

    // If we're immediately followed by an <h2>, it has its own top border
    .entry-content & + h2 {
        border-top: none;
    }

    a {
        flex: 0 auto;
        margin: 0.25em;
        text-align: center;
    }

    // TODO this is copied from .entry-content img
    img {
        @extend %fancy-image;
    }
}


////////////////////////////////////////////////////////////////////////////////
// WIDGETS

.category-glyph {
    max-height: 1.2em;
    margin-right: 0.25em;
    vertical-align: -10%;  // like baseline, but compensating for feet
}
@include phone-size {
    h1 .category-glyph {
        max-height: 0.6em;
        max-width: 0.6em;
        margin-right: 0;
        vertical-align: middle;
    }
}

.prose-illustration {
    float: right;
    margin: 0 0 0.5em 1em;

    @include phone-size {
        float: none;
        margin: 1em 0;
        text-align: center;
    }
}

.prose-full-illustration {
    margin: 0 0 1em;
    text-align: center;

    img, object {
        // Don't let large images expand the main container's width
        max-width: 100%;
    }
}


////////////////////////////////////////////////////////////////////////////////
// SPECIFIC PAGES

// -----------------------------------------------------------------------------
// HOMEPAGE

.homepage {
    margin: 1em;

    // silly hack to make footer look better
    & + footer {
        margin: 1em;
    }

    h1 {
        font-size: 3em;
        margin: 0.75em 0 0.25em;
        font-weight: normal;
        font-family: 'Love Ya Like A Sister', cursive;
        text-align: center;
        color: #cfddf3;

        // dotted lines on either side of the heading
        &::before, &::after {
            content: '';
            display: inline-block;
            position: absolute;
            border-top: 4px dotted currentColor;
            margin-top: 0.6em;
            width: 10%;
            opacity: 0.33;

            @include phone-size {
                display: none;
            }
        }
        &::before {
            margin-left: -12%;
        }
        &::after {
            margin-left: 2%;
        }
    }

    p {
        color: white;
        text-shadow: 1px 1px 1px black;
    }
    a {
        color: hsl(225, 100%, 83%);
    }
    a:visited {
        color: hsl(265, 100%, 83%);
    }
    a:hover {
        color: hsl(0, 100%, 83%);
    }
    code {
        background: none;
    }

    .intro {
        font-size: 1.25em;
        margin: 0.5em;
        /* image is 64 x 48, shown double size (except on phones) */
        min-height: 128px;
        padding-left: 96px;
        border-bottom: 2px solid black;
        background: url(/theme/images/home-eevee2.png) no-repeat left bottom / 96px;
        /* lol css */
        image-rendering: -moz-crisp-edges;  /* fx */
        image-rendering: pixelated;  /* chrome, and the thing i actually mean */
        -ms-interpolation-mode: nearest-neighbor; /* ie */

        @include phone-size {
            // don't scale eevee background
            background-size: auto;
            padding-left: 48px;
        }

        p {
            margin: 1em;
        }
    }

    .account-buttons {
        font-size: 1.25em;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: start;
    }
    a.button {
        color: white;
    }
    .button {
        flex: 1 0;
        display: inline-block;
        margin: 0.25em 1%;
        padding: 0.33em 0.5em;
        height: 1.2em;
        min-width: 0;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        color: white;
        border: 2px solid rgba(0, 0, 0, 0.75);
        border-radius: 1em;
        background: gray;
        box-shadow:
            /* white highlight from above */
            inset 0 2em 1em -1em rgba(100%, 100%, 100%, 0.125),
            /* black shadow from below */
            inset 0 -2em 1em -1em rgba(0%, 0%, 0%, 0.25),
            /* inset glow (rim highlight?) */
            inset 0 0 0.25em rgba(100%, 100%, 100%, 0.5);
        text-decoration: none;
        transition: box-shadow 0.1s linear, padding-top 0.1s linear;

        &:hover {
            box-shadow:
                /* idem. white highlight from above */
                inset 0 2em 1em -1em rgba(100%, 100%, 100%, 0.25),
                /* lessen black shadow from below */
                inset 0 -2em 1em -1em rgba(0%, 0%, 0%, 0.0625),
                /* idem. rim highlight */
                inset 0 0 0.25em rgba(100%, 100%, 100%, 0.5),
                /* new bottom outer shadow */
                0px 1px 2px 1px rgba(0, 0, 0, 0.5);
        }

        label {
            display: inline-block;
            white-space: nowrap;
            cursor: inherit;
            vertical-align: middle;

            @include tablet-size {
                display: none;
            }
        }
        img {
            margin-right: 0.125em;
            max-width: 1em;
            max-height: 1em;
            vertical-align: middle;
        }
        // this commentary is dumb actually
        .button-tooltip {
            display: none;
        }
    }

    .tile-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, auto));
        row-gap: 1em;
        column-gap: 1em;
    }
    .tile {
        box-sizing: border-box;
        position: relative;

        color: #cfddf3;

        header {
            width: 100%;

            .tile-illus {
                display: block;
                width: 100%;
                margin-bottom: 1em;
                box-shadow: 0 0 0.125em black;
            }

            time {
                display: block;
                position: absolute;
                top: 0.25em;
                right: 0.5em;
                font-size: 0.66em;
                line-height: 1;
                font-family: monospace;
                color: rgba(100%, 100%, 100%, 0.5);
            }
            h2 {
                margin: 0;
                color: white;
                text-shadow:
                    0.5px 0.5px 0.5px black,
                    -0.5px 0.5px 0.5px black,
                    0.5px -0.5px 0.5px black,
                    -0.5px -0.5px 0.5px black;
                font-family: $font-sans;
            }
            p {
                display: none;
                margin: 0;
                text-shadow: -0.5px 0.5px 1px black;
            }
        }
    }
    .cool-button {
        position: relative;
        display: block;
        padding: 0.5em 0.75em;
        border: 1px solid black;
        border-radius: 4px;
        background: #666;
        color: white;
        box-shadow:
            inset 0 0 0 40em rgba(0, 0, 0, 0.1),
            inset 0 -4em 8em -3.6em rgba(0, 0, 0, 0.5),
            inset 0 0 3px 1px rgba(100%, 100%, 100%, 0.5);
                text-decoration: none;
        transition: box-shadow linear 0.2s;

        &:hover {
            box-shadow:
                inset 0 0 0 40em rgba(0, 0, 0, 0),
                inset 0 -4em 8em -3.6em rgba(0, 0, 0, 0.5),
                inset 0 0 3px 1px rgba(100%, 100%, 100%, 0.5);
        }
    }

    ul.see-also {
        display: block;
        margin: 1em 0;
        padding: 0.5em 0 0;
        border-top: 1px dotted rgba(100%, 100%, 100%, 0.25);

        &::before {
            content: '🔗 \a0 ';
        }

        li {
            margin: 0;
            display: inline-block;
            list-style-type: none;
        }
        li + li::before {
            content: '\a0 • \a0';
        }
    }

    /* tablet sizes */
    @media (max-width: 900px) {
        body {
            margin: 1em;
        }
    }
    /* phone sizes */
    @media (max-width: 400px) {
        body {
            margin: 0.5em;
        }
    }
}


// -----------------------------------------------------------------------------
// ARCHIVES

section.archives {
    > h2, article h1, article time[pubdate] {
        //line-height: 4rem;  // hopefully tall enough to contain everyone
    }

    $title-line-height: 1.2;
    $row-height: $title-line-height * 1.5rem;  // biggest size in a row
    $year-width: 5rem;  // 4 chars max
    $date-width: 5rem;  // 6 chars max

    // Each <h2> is a year separator
    > h2 {
        font-size: 1.5rem;
        float: left;
        width: $year-width;
        margin: 0;
        line-height: $row-height;
        vertical-align: baseline;

        font-weight: normal;
        color: $main-accent;

        @include phone-size {
            float: none;
            margin-bottom: 1.5rem;
        }
    }

    > hr {
        border: none;
        border-top: 1px dotted $main-accent;
        margin-bottom: 1.5rem;
    }

    // Each <article> is a listing; float the date to the right
    article {
        display: flex;

        // override default padding; just want breathing room
        padding: 0 0 0.5rem;
        margin-left: $year-width;

        @include phone-size {
            flex-wrap: wrap;
            margin-left: 0;
        }

        & + article {
            // TODO remove this once the rule is fixed
            border: none;
        }

        // Month and date
        > time[pubdate] {
            flex: 0 0 $date-width;

            line-height: $row-height;
            vertical-align: baseline;
            color: $main-accent;

            @include phone-size {
                flex: 0 0 auto;
            }
        }

        // Article title
        h1 {
            flex: 4 4 auto;

            font-size: 1.33rem;
            margin: 0;
            padding-left: 1.5em;
            text-indent: -1.5em;
            line-height: $row-height;
            vertical-align: baseline;
            font-weight: normal;

            // Make the weekly roundups less overt
            &.category-dev {
                font-size: 1rem;
                color: #606060;
            }

            @include phone-size {
                flex: 0 0 100%;
                order: -1;
            }
        }

        // Tags
        > footer {
            flex: 1 1 auto;
            font-size: 0.85em;

            // override default article footer margin
            margin: 0;

            line-height: $row-height;
            text-align: right;
            color: $main-accent;

            @include phone-size {
                // try to keep this on the same line as the date even with
                // flex-wrap
                flex: 1 1 0px;
            }

            .meta a {
                margin-left: 0.33em;
                &, &:visited, &:active {
                    color: $main-accent;
                }
                &:hover {
                    color: scale-color($main-accent, $lightness: -20%);
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------
// PROJECTS

.projects-game {
    display: flex;
}
.projects-game-pic img {
    max-width: 100px;
}
.projects-game-desc {
    flex: 1;
    margin-left: 1em;
}


////////////////////////////////////////////////////////////////////////////////
// PYGMENTS (solarized)

$solarized-base03:    #002b36;
$solarized-base02:    #073642;
$solarized-base01:    #586e75;
$solarized-base00:    #657b83;
$solarized-base0:     #839496;
$solarized-base1:     #93a1a1;
$solarized-base2:     #eee8d5;
$solarized-base3:     #fdf6e3;
$solarized-yellow:    #b58900;
$solarized-orange:    #cb4b16;
$solarized-red:       #dc322f;
$solarized-magenta:   #d33682;
$solarized-violet:    #6c71c4;
$solarized-blue:      #268bd2;
$solarized-cyan:      #2aa198;
$solarized-green:     #859900;

table.highlighttable {
    table-layout: fixed;  // allows overflow to work; auto prefers to stretch cells
    width: 100%;
    margin: 1em 0;
    border-collapse: collapse;
    line-height: 1.2;
    background: url(/theme/images/textured_paper.png) $solarized-base3;
    box-shadow: 0 0 1em $solarized-base2;

    pre {
        margin: 0;
    }

    td {
        padding: 0.5em;
        border: 1px solid $solarized-base2;
    }
    td.linenos {
        width: 2em;
        width: -moz-min-content;
        // FIXME this doesn't work right in chrome (the column gets zero width) and i'm not sure who's wrong  :(
        //width: -webkit-min-content;
        //width: min-content;
        padding-left: 1em;
        text-align: right;
        color: $solarized-base1;
        background: url(/theme/images/textured_paper.png) $solarized-base2;
        vertical-align: top;
    }

    .highlight {
        overflow-x: auto;
    }
}

// h6 is special and used to indicate filenames for code blocks
h6 {
    position: relative;
    z-index: 1;  // stay above the table's box-shadow
    font-size: 1rem;
    line-height: 1.8;
    margin: 1rem 0 0;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    background: $solarized-base2;
    text-shadow: 1px 1px $solarized-base3;
    color: $solarized-base1;
}
h6 + table.hilighttable {
    margin-top: 0;
}

// Pygments theme
.highlight {
    .hll { background-color: #ffffcc }
    .c { color: #93a1a1; font-style: italic } /* Comment */
    .err { color: #dc322f } /* Error */
    .g { color: $solarized-base00 } /* Generic */
    .k { color: $solarized-red } /* Keyword */
    .l { color: $solarized-base00 } /* Literal */
    .n { color: #586e75 } /* Name */
    .o { color: $solarized-base00 } /* Operator */
    .x { color: $solarized-base00 } /* Other */
    .p { color: $solarized-base00 } /* Punctuation */

    .cm { color: #93a1a1; font-style: italic } /* Comment.Multiline */
    .cp { color: #93a1a1; font-style: italic } /* Comment.Preproc */
    .c1 { color: #93a1a1; font-style: italic } /* Comment.Single */
    .cs { color: #93a1a1; font-style: italic } /* Comment.Special */

    .gd { color: $solarized-base00 } /* Generic.Deleted */
    .ge { color: $solarized-base00 } /* Generic.Emph */
    .gr { color: $solarized-base00 } /* Generic.Error */
    .gh { color: $solarized-base00 } /* Generic.Heading */
    .gi { color: $solarized-base00 } /* Generic.Inserted */
    .go { color: $solarized-base00 } /* Generic.Output */
    .gp { color: $solarized-base00 } /* Generic.Prompt */
    .gs { color: $solarized-base00 } /* Generic.Strong */
    .gu { color: $solarized-base00 } /* Generic.Subheading */
    .gt { color: $solarized-base00 } /* Generic.Traceback */

    .kc { color: $solarized-red } /* Keyword.Constant */
    .kd { color: $solarized-red } /* Keyword.Declaration */
    .kn { color: #cb4b16 } /* Keyword.Namespace */
    .kp { color: #cb4b16 } /* Keyword.Pseudo */
    .kr { color: $solarized-red } /* Keyword.Reserved */
    .kt { color: $solarized-red } /* Keyword.Type */

    .ld { color: $solarized-base00 } /* Literal.Date */
    .m { color: #2aa198 } /* Literal.Number */
    .s { color: #2aa198 } /* Literal.String */

    .na { color: $solarized-base00 } /* Name.Attribute */
    .nb { color: #268bd2 } /* Name.Builtin */
    .nc { color: #268bd2 } /* Name.Class */
    .no { color: #b58900 } /* Name.Constant */
    .nd { color: #cb4b16 } /* Name.Decorator */
    .ni { color: #cb4b16 } /* Name.Entity */
    .ne { color: #cb4b16 } /* Name.Exception */
    .nf { color: #268bd2 } /* Name.Function */
    .nl { color: $solarized-base00 } /* Name.Label */
    .nn { color: #b58900 } /* Name.Namespace */
    .nx { color: $solarized-base00 } /* Name.Other */
    .py { color: #268bd2 } /* Name.Property */
    .nt { color: $solarized-red } /* Name.Tag */
    .nv { color: #cb4b16 } /* Name.Variable */
    .ow { color: $solarized-red } /* Operator.Word */
    .w { color: #fdf6e3 } /* Text.Whitespace */

    .mf { color: #2aa198 } /* Literal.Number.Float */
    .mh { color: #2aa198 } /* Literal.Number.Hex */
    .mi { color: #2aa198 } /* Literal.Number.Integer */
    .mo { color: #2aa198 } /* Literal.Number.Oct */

    .sb { color: #2aa198 } /* Literal.String.Backtick */
    .sc { color: #2aa198 } /* Literal.String.Char */
    .sd { color: #2aa198 } /* Literal.String.Doc */
    .s2 { color: #2aa198 } /* Literal.String.Double */
    .se { color: #cb4b16 } /* Literal.String.Escape */
    .sh { color: #2aa198 } /* Literal.String.Heredoc */
    .si { color: #cb4b16 } /* Literal.String.Interpol */
    .sx { color: #2aa198 } /* Literal.String.Other */
    .sr { color: #2aa198 } /* Literal.String.Regex */
    .s1 { color: #2aa198 } /* Literal.String.Single */
    .ss { color: #2aa198 } /* Literal.String.Symbol */

    .bp { color: #268bd2; font-weight: bold } /* Name.Builtin.Pseudo */
    .vc { color: #268bd2 } /* Name.Variable.Class */
    .vg { color: #268bd2 } /* Name.Variable.Global */
    .vi { color: #268bd2 } /* Name.Variable.Instance */
    .il { color: #2aa198 } /* Literal.Number.Integer.Long */
}

// Also, inline code.
code {
    padding: 0.1em 0.25em;
    border-radius: 0.25em;
    background: $block-bg;
}
// But not for Pygments.
.highlight code {
    padding: 0;
    background: none;
}


////////////////////////////////////////////////////////////////////////////////
// COLORBOX
// Based on the example themes

// Base CSS, shared between all the example themes
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
//#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#cboxOverlay {
    background: black;
}
#colorbox{outline:0;}

// Due to the goofy way colorbox determines the space available for the
// image, I can't use padding on anything; instead I have to resize these
// extra border elements
// Enough space for the "image X of Y"
$colorbox-top-margin: 1.5rem;
// Enough space for two lines of caption at 1.5 lh
$colorbox-bottom-margin: 4rem;
#cboxTopCenter {
    height: $colorbox-top-margin;
}
#cboxMiddleLeft,
#cboxMiddleRight {
    width: 0.5rem;
}
#cboxBottomCenter {
    height: $colorbox-bottom-margin + 0.5rem;
}
#cboxContent {
    overflow: visible;
}

.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent {
    box-shadow: 0 1px 2px 1px unquote("#0009");
    outline: 1px solid unquote("#0009");

    .cboxPhoto {
        background: white;
    }
}
#cboxLoadingOverlay {}
#cboxLoadingGraphic {}

// All the interesting stuff is in the same positioned container, so a lot of
// fixed positioning is needed to put things where I want them and in a
// consistent position on screen
#cboxTitle, #cboxPrevious, #cboxNext, #cboxCurrent, #cboxClose {
    position: fixed;
}

// "image X of Y" goes at the top
#cboxCurrent {
    font-size: 0.8rem;
    top: 0;
    left: 0;
    right: 0;
    line-height: $colorbox-top-margin;
    text-align: center;
    color: #aaa;
}

// Close button goes in the top right
#cboxClose {
    font-size: 2rem;
    top: 0;
    right: 0;
    padding: 0;
    height: 3rem;
    width: 3rem;

    border: none;
    background: unquote("#0004");
    color: white;
    border-bottom-left-radius: 1rem;

    &:hover {
        background: unquote("#0008");
    }
}

// Caption and the prev/next buttons go at the bottom
// XXX this doesn't adjust to caption height, but i don't see how to do that with this layout
#cboxTitle, #cboxPrevious, #cboxNext {
    text-align: center;
    background: #080808;
    color: #ddd;
    border: none;  // remove other button borders
    border-top: 1px solid #181818;
}
#cboxTitle {
    font-size: 1.25rem;
    // leave room for buttons on either side
    left: $colorbox-bottom-margin;
    right: $colorbox-bottom-margin;
    bottom: 0;
    box-sizing: border-box;  // padding should NOT add to height
    height: $colorbox-bottom-margin;
    padding: 0.5rem;
    overflow: auto;
    line-height: 1.5rem;

    text-shadow: 0 1px 1px black;

    // Shrink the caption size to fit three lines on phones
    @include phone-size {
        font-size: 1rem;
        padding: 0.5rem;
        line-height: ($colorbox-bottom-margin - 1rem) / 3;
    }
}
#cboxPrevious,
#cboxNext {
    font-size: 2rem;
    bottom: 0;
    height: $colorbox-bottom-margin;
    width: $colorbox-bottom-margin;
    padding: 0;

    &:hover {
        background: #101010;
    }
}
#cboxPrevious {
    left: 0;
}
#cboxNext {
    right: 0;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

.cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}
